@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.main_header {
    background: #2A9D8F;
    width: 1440px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 38px;

}

.main_header_logo {
    vertical-align: middle;
    margin-left: 130px;
}

.main_header_nav {
    display: inline-block;
    vertical-align: middle;
    margin-left: 370px;
}

.main_header_pic {
    margin-left: 373px;
    vertical-align: middle;
}

li {
    display: inline-block;

}

.li2 {
    margin-inline: 51px;
}

/* <!-- Article --> */

.article_ul {
    margin: 200px auto;
    width: 780px;
    text-align: center;
    color: #4D4D4D;

}

.article_li1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 500;


}

.article_li2 {

    margin-top: 60px;
    margin-bottom: 52px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;

}

.article_li3 {

    font-family: 'Poppins', sans-serif;
    font-size: 20px;

}

/* <!-- section 1 --> */

.section_1 {
    width: 1440px;
    background-color: aqua;
    margin: 0 auto;

}

.section_1_img {
    width: 600px;
    height: 560px;
    padding: 80px 130px;
    margin-right: 123px ;
   
}

.section_1_div {
    background-color: #2A9D8F;
    display: inline-block;
    font-size: 20px;
    width: 500px;
    margin-top: 80px;
;

}

.section_1_h {
    font-size: 32px;
    display: inline;
    vertical-align: middle;

}

.section_1_p{
    margin-top: 27px ;

}

.section_1_read_more{

    background: #2A9D8F;
    padding: 11px 16px;


}