


.main_header {
    background: #2A9D8F;
    width: 1440px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 38px ;

}

.main_header_logo{
    vertical-align: middle;
    margin-left: 130px ;
}

.main_header_nav {
    display: inline-block;
    vertical-align: middle;
    margin-left: 370px ;
}

.main_header_pic{
    margin-left: 373px ;
    vertical-align: middle;
}

li{
    display: inline-block;

}

.li2{
    margin-inline: 51px;
}


